.welcome {
    width: 100%;
}

.welcome_hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.welcome_hero_image {
    width: 310px;
    height: auto;
    margin: auto;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30);
}

.welcome_hero_overview {
    padding: 10px;
    /* text-align: justify; */
}

.welcome_image {
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
}

.welcome_services .welcome_image {
    background-image: url('../../utils/images/freddie_banner_1.jpg');
    background-position-y: 10%;
    margin-bottom: 10px;
}

.welcome_services ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome_services li {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.welcome_services_type_title{
    min-width: 30%;
}

.welcome_services_details {
    border-left: solid 1px black;
    text-align: justify;
    padding: 5px;
}

.welcome_services_break_container {
    height: 10px;
    /* height: 100px;
    background-image: url('../../utils/images/group_running.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30), 0px -3px 3px 0px rgba(0,0,0,0.30);
}

.welcome_reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome_reviews .welcome_image {
    background-image: url('../../utils/images/freddie_group.jpg');
    margin-bottom: 10px;
}

.welcome_reviews_container {
    border: black solid 1px;
    background: whitesmoke;
    margin: 5px 3px 20px;
    padding: 5px;
}

.welcome_facebook_container {
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    max-height: 45vh;
    background-color: whitesmoke;
}

.welcome_apply .welcome_image {
    background-image: url('../../utils/images/group_running.jpg');
    background-position-y: 40%;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .welcome_hero {
        display: flex;
        flex-direction: row;
    }

    .welcome_hero_image {
        height: unset;
        width: unset;
    }

    .welcome_services_break_container {
        height: 200px;
        background-position: center;
    }
}

@media screen and (min-width: 1100px) {
    .welcome_reviews {
        flex-direction: row;
    }
}