.application form {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.form_field {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    border: solid black 1px;
}

.form_field legend {
   text-align: center;
   margin: 10px 0;
}

.form_field>label, .form_field>div {
    margin-top: 15px;
}

.form_thanks_text {
    padding: 0 15px;
}

.form_field input {
    margin-left: 10px;
}

.form_field input[type=radio] {
    margin-left: unset;
}
