.App {
    padding: 60px 0px;
    text-align: center;
    justify-content: center;
}

input {
    font-size: 16px;
}

.header {
    position: fixed;
    left: 0;
    top: 5px;
    width: 100%;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
}


