.App {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    justify-content: center;
}

input {
    font-size: 16px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: lightgrey;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
}


