* {
  /* margin: 0;
	padding: 0;
	border: 0; */
  vertical-align: baseline;
}

body {
  z-index: 0;
  max-width: 860px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #90ee90;
}